//Variabler, mixins osv
//Färgkoder i variabler, styling på texter, textstorlekar osv.

$primary-black-text: #000;
$light-black-text: lighten($primary-black-text, 5%);

$primary-white-text: #fff;
$dark-white-text: darken($primary-white-text, 15%);

$black-opac92: rgba($primary-black-text, 0.92);

//Bgcolors
$peachy-orange: #ffc987;
$dusty-rose: #D8737F;
$soft-mauve: #AB6C82;
$grayish-lavender: #685D79;
$dusk-blue: #475C7A;
$powder-blue: #AEC6CF;

//Darkmode bgcolors
$dark-peachy-orange: #634e35;
$dark-dusty-rose: #4d292e;
$dark-soft-mauve: #3b262d;
$dark-grayish-lavender: #2a2631;
$dark-dusk-blue: #161c25;

@property --color-1 {
    syntax: "<color>";
    inherits: true;
    initial-value: #ffc987;
}

@property --color-2 {
    syntax: "<color>";
    inherits: true;
    initial-value: #D8737F;
}

@property --color-3 {
    syntax: "<color>";
    inherits: true;
    initial-value: #AB6C82;
}

@property --color-4 {
    syntax: "<color>";
    inherits: true;
    initial-value: #685D79;
}

@property --color-5 {
    syntax: "<color>";
    inherits: true;
    initial-value: #475C7A;
}

//Shared background style
@mixin shared-bg-styles {
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
  
// Mixin background style light colour
@mixin bgcolor() {
    background: linear-gradient(to bottom, var(--color-1), var(--color-2), var(--color-3), var(--color-4), var(--color-5));
    @include shared-bg-styles;
}

@mixin bgcolorff() {
    background: linear-gradient(to bottom, $peachy-orange, $dusty-rose, $soft-mauve, $grayish-lavender, $dusk-blue);
    @include shared-bg-styles;
}

// Mixin background style dark colour
@mixin dark-bgcolor() {
    background: linear-gradient(to bottom, $dark-peachy-orange, $dark-dusty-rose, $dark-soft-mauve, $dark-grayish-lavender, $dark-dusk-blue);
    @include shared-bg-styles;
}

@keyframes bgTransition {
    10% {
        --color-1: #e7b67a;
    }
    30% {
        --color-2: #c96a75;
    }
    50% {
        --color-3: #9c6377;
    }
    70% {
        --color-4: #5b5269;
    }
    90% {
        --color-5: #435774;
    }
}

//Mixin center content
@mixin center-content($textAlign) {
    text-align: $textAlign;
    width: 80%;
    margin: 0 auto;
}

//Mixin for sections - responsive
@mixin section-style() {
    h1 {
        font-size: 32px;
        line-height: 44px;
        margin: 100px 0 0 0;
        font-weight: 500;
        text-align: left;
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
        margin: 10px 0;
    }

    p, 
    li {
        font-size: 16px;
        line-height: 28px;
        max-width: 400px;
    }

    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text-section {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
    }

    ul {
        padding-left: 20px;
    }
    
    .img-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

    @media(max-width:940px) {
        display: flex;
        flex-direction: column;

        .text-section,
        .img-section {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
        }

        .img-section {
            margin-bottom: 50px;
        }
    }
    
    .img-section img {
        width: 99%;
        max-width: 400px;
    }
}

@mixin geo-shapes($width, $height, $bgcolor, $margin, $form) {
    display: inline-block;
    width: $width;
    height: $height;
    
    margin: $margin;
    
    @if $form == 'circle' {
      border-radius: 50%;
      background-color: $bgcolor;
    } @else if $form == 'square' {
      border-radius: 0;
      background-color: $bgcolor;
    } @else if $form == 'triangle' {
      width: 0;
      height: 0;
      border-left: calc($width / 2) solid transparent;
      border-right: calc($width / 2) solid transparent;
      border-bottom: $height solid $bgcolor;
    }
}
